@import "./Utilities.scss";


.home {
    height: 85vh;
    width: 100%;
    // padding: 1rem 0rem;

    img {
        height: 85vh;
        width: 100%;
    }

    .content {
        position: absolute;
        left: 10%;
        top: 40%;
        line-height: 3rem;
        display: flex;
        color: $color3;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem;
        font-weight: bold;
        line-height: 5rem;

        p {
            color: $color3;
            font-size: 2rem;
        }

        h1 {
            margin-top: .5rem 0;
            font-size: 7rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        h3 {
            margin-top: 4rem;
            font-size: 2rem;
            display: flex;

            .typeWriterText {
                color: $color2;
                margin-left: .8rem;
            }
        }

        a {
            margin-top: 1rem;

            button {
                padding: .8rem;
                font-size: 1.2rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: bold;
                border: 2px solid $color2;
                border-radius: 40px;
                color: $color2;
                background-color: none;
                opacity: .8;

                &:hover {
                    cursor: pointer;
                    color: $color1;
                    background-color: $color2;
                    opacity: 1;
                }
            }
        }
    }

    .pets-section {
        height: 100vh;
        width: 100%;

        .header-top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            // border: 2px solid #333;
            padding-top: 5rem;
            line-height: 3.5rem;

            >h1 {
                font-size: 3rem;
            }

            >p {
                font-size: 1.2rem;
            }
        }

        .animals-view {
            height: 70%;
            width: 100%;
            // border: 1px solid #333;
            padding: 2px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .box {
                height: 50%;
                // border: 1px solid #333;
                padding: 2px;
                position: relative;

                >img {
                    height: 200px;
                    width: 200px;
                    border-radius: 50%;
                    border: .5rem solid white;
                    box-shadow: 5px 5px 10px #333;
                    
                }
                
                h2 {
                    text-align: center;
                    margin-top: 2rem;
                }
            }

            .top {
                position: relative;
                img {
                    animation: animate2 alternate infinite 2s;
                    margin-top: 3rem;
                }
                
                // h2  {
                //     margin-top: 1rem;
                // }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0%;
                    left: 50%;
                    width: 3px;
                    height: 50px;
                    border-radius: 10px;
                    background-color: $color2;
                }
            }

            .down {
                position: relative;
                // transition: .3s all;
                
                img {
                    animation: animate1 infinite alternate 2s;
                    margin-bottom: 3rem;
                    
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    width: 3px;
                    height: 50px;
                    z-index: -1;
                    border-radius: 10px;
                    background-color: $color2;
                }
            }
        }
    }

    @keyframes animate1 {
       from {
        transform: translateY(20px);
       }
    }

    @keyframes animate2 {
        from {
            transform: translateY(-20px);
        }
    }
}