@import "./Utilities.scss";

.services {
    height: 60vh;
    width: 100%;
    font-size: 1.5rem;
    color: $color1;
    border: 1px solid $color3;

    >.top-section {
        height: 100%;
        width: 100%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: 3rem;
        position: relative;
        background-color: rgba(0, 0, 0, .4);

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            background: url("../assets/imgs/img5.jpeg") no-repeat center center/cover;
        }

        >h4 {
            color: $color1;
        }

        >h1 {
            color: $color2;
        }

    }

    >.services-section {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #f3f3f3;
        // border: 2px solid red;
        position: relative;

        .cards {
            height: 130%;
            width: 80%;
            position: absolute;
            bottom: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // line-height: 3rem;

            .card {
                height: 100%;
                width: 100%;
                box-shadow: inset 1px 1px 5px #fff;
                background-color: $color2;
                text-align: center;
                padding: 2rem;

                &:nth-child(2) {
                    height: 110%;
                }

                svg {
                    margin: 1rem 0;
                    font-size: 2.5rem;
                }

                p {
                    margin: 1rem 0;
                    text-align: justify;
                }

            }
        }
    }

}

@media (max-width: 550px) {
    .services {
        .top-section {
            line-height: 2.5rem;
        }


        .services-section {
            width: 100%;
            border: 2px solid #333;
            position: relative;

            .cards {
                height: 60%;
                width: 40%;
                position: absolute;
                bottom: 100%;
                display: grid;
                gap: .8rem;
                grid-template-areas: 'card card';
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // line-height: 3rem;

                .card {
                    height: 100%;
                    width: 100%;
                    box-shadow: inset 1px 1px 5px #fff;
                    background-color: $color2;
                    text-align: center;
                    padding: 2rem;
                    grid-area: 'card';

                    &:nth-child(2) {
                        height: 100%;
                    }

                    svg {
                        margin: 1rem 0;
                        font-size: 2.5rem;
                    }

                    h3 {
                        font-size: 1.5rem;
                    }

                    p {
                        display: none;
                    }
                }
            }
        }
    }
}